<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.happyjob.study.repository.blog.BlogDAO">
	<insert id = "insertblogreq" parameterType="java.util.Map">
        /*kr.happyjob.study.repository.blog.insertblogreq*/
        
        insert into blog.tb_req
				 (b_no
				 ,loginid
				 ,name
				 ,email
				 ,reason)
				 values 
                (#{b_no}
                ,#{loginid}
                ,#{name}
                ,#{email}
                ,#{reason}
               )
        
	</insert>
</mapper>